<nb-card size="medium">
  <nb-card-body>
    <div class="details">
      <div class="display-3 mb-3">
        PARASITE
      </div>
      <div class="mt-5 lead">
        <p class="text-justify">A great man once said:
          <q>Drop the SE course.</q> Team Parasite consists of members who chose, although with some regrets, not to. It was
          formed in February 2018, as the product of many voluntary and involuntary decisions. Some say that it was randomness
          that brought us together; others claim that they had carefully planned tutorial transfers, but no one knows for
          sure. In the end, you can find all types of people among us: There are those who care about efficiency and algorithms,
          others who side with teamwork and fairness, and yet others who will probably care about none of the above. It is
          quite normal and acceptable. Some value diligence and dedication; others value their rights to some freedom and
          flexibility. Then, there will always come someone who would say: The ultimate goal is to pass the course, or is
          it not? And many who would rightfully ask: How could balance be achieved? Regardless, as our views clash and as
          we experience the good and bad of cooperation and competition, we will strive as a team to achieve the best we
          can reach. And it is perhaps in this intention, polished by its naivete and many fallacies, that one could find
          some light in our chaotic microcosm.</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<div class="display-1">Contributors</div>
<div class="row">
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/Reda.png" />
        <div class="details">
          <div class="title">
            Reda Ramadan
          </div>
          <div class="description">
            If asking the client about every detail concerning the product is not SE, what is SE?!
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/OmarElkilany.jpg" />
        <div class="details">
          <div class="title">
            Omar Elkilany
          </div>
          <div class="description">
            Contemplating the meaning of life since 1996. Progress: I'm 50% sure I exist, and 100% sure that it's not that good of an
            experience.
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/Maqarios.jpg" />
        <div class="details">
          <div class="title">
            Maqarios Mohareb
          </div>
          <div class="description">
            Error 404. Time not found!
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/olfat.jpg" />
        <div class="details">
          <div class="title">
            Olfat Mostafa
          </div>
          <div class="description">
            Essential outcome of a butterfly effect.
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/OmarEl-Sherif.jpg" />
        <div class="details">
          <div class="title">
            Omar El-Sherif
          </div>
          <div class="description">
            This human is still in the alpha testing phase, optimal performance not guaranteed.
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/OmarElsebai.jpg" />
        <div class="details">
          <div class="title">
            Omar Elsebai
          </div>
          <div class="description">
            Resource leak: 'eyes' is never closed
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/Nesrin.jpg" />
        <div class="details">
          <div class="title">
            Nesrin Abdulaziz
          </div>
          <div class="description">
            While they are in the pub, we are on github. \O/
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/Darwish.png" />
        <div class="details">
          <div class="title">
            Ahmed Darwish
          </div>
          <div class="description">
            Katch Kadr fel 2lolo, kmananana
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/Nehal.jpg" />
        <div class="details">
          <div class="title">
            Nehal Essam
          </div>
          <div class="description">
            Nothing special about this commit, git along now.
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/MariamKhaled.jpg" />
        <div class="details">
          <div class="title">
            Mariam Khaled Mahran
          </div>
          <div class="description">
            can't think of anything to say.. so hi :)
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/Wessam.jpg" />
        <div class="details">
          <div class="title">
            Wessam
          </div>
          <div class="description">
            I like coding and music.
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/lama.jpg" />
        <div class="details">
          <div class="title">
            Lama Ahmed
          </div>
          <div class="description">
            Infinte loop: Eat, Sleep, Code, Repeat.
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/MohamedMaher.jpg" />
        <div class="details">
          <div class="title">
            Mohamed Maher
          </div>
          <div class="description">
            The biggest risk is to take no risk at all
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/salmaGhoneim.jpg" />
        <div class="details">
          <div class="title">
            Salma Ghoneim
          </div>
          <div class="description">
            You guys look like you searched the web for funny github commit messages
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/EsraaAtef.jpg" />
        <div class="details">
          <div class="title">
            Esraa Atef
          </div>
          <div class="description">
            Food is life
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/yomna.jpg" />
        <div class="details">
          <div class="title">
            yomna Osama
          </div>
          <div class="description">
            Unhandled exception.......
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/Hisham.jpg" />
        <div class="details">
          <div class="title">
            Ahmed Hisham Rihan
          </div>
          <div class="description">
            while(true) smile ;)
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/Sarah.jpg" />
        <div class="details">
          <div class="title">
            Sarah Ayman
          </div>
          <div class="description">
            One that dreamt not wisely, but too well
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/Heidi.png" />
        <div class="details">
          <div class="title">
            Heidi
          </div>
          <div class="description">
            I enjoy being weird
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/Ali.jpg" />
        <div class="details">
          <div class="title">
            Ali
          </div>
          <div class="description">
            With all the mindless distractions in life..one may not make time to contemplate...not this one
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/Ibrahim.jpg" />
        <div class="details">
          <div class="title">
            Ibrahim
          </div>
          <div class="description">
            When the going gets tough, the tough gets going!
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/Dalia.jpg" />
        <div class="details">
          <div class="title">
            Dalia
          </div>
          <div class="description">
            Nothing to read here
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <nb-card size="medium">
      <nb-card-body>
        <img class="card-img-top" src="assets/people/Nadine.png" />
        <div class="details">
          <div class="title">
            Nadine
          </div>
          <div class="description">
            *sigh*
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="col-lg-3 col-md-6 col-12">
  <nb-card size="medium">
    <nb-card-body>
      <img class="card-img-top" src="assets/people/zeyad.JPG" />
      <div class="details">
        <div class="title">
          Zeyad
        </div>
        <div class="description">
          regret is a one second choice and a 5 years suffering
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>