<div *ngIf="orders">
<ul *ngFor= "let orderOne of orders">
<div class="Ordercard">
  <div>
  <h5> <b>Shipping address:</b> {{orderOne.shippingAddress}}</h5>
  <h5> <b>Purchase Date:</b> {{orderOne.purchaseDate | date}}</h5>
  <h5> <b>Total Cost:</b> {{orderOne.totalPrice | currency}}</h5>
</div>
  <h5><b>Products:</b></h5>
  <div *ngIf="orderOne.products">
  <ul *ngFor="let product of orderOne.products">
    <div class="Productcard">
        <h5><b>Item: {{product.name}}</b></h5>
        <p>Price: {{product.price | currency}}</p>
    </div>
  </ul>
</div>
</div>
</ul>
</div>
